/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

/* Footer styles */

.footer {
    background-color: violet;
    color: white;
}

.footer p {
    margin: 0;
}

/* Custom styles */

h2 {
    color: violet;
    font-size: 28px;
    font-weight: bold;
}

p {
    margin-bottom: 20px;
}